@use "../../abstracts" as theme;

a {
	color: theme.$color__link;

	&:visited {
		color: theme.$color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: theme.$color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
